.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.App-intro {
  font-size: large;
}

div {
  float: left;
  width: 100%;
}

ul {
  list-style: none;
  float: left;
  margin-bottom: 0;
}

ul li {
  float: left;
}

.default-margin {
  margin-top: 20px;
}

.active {
  color: #008CBA !important;
}