.film-container__inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 3em;
}

.film-container__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film-container__options h3 {
    margin-bottom: 0.2rem;
}

.film-container__title {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.film-container__title ul {
    padding: 0;
    margin: 0;
}

.film-container__synopsys {
    text-align: justify;
    width: 95%;
}

.film-container__synopsys p {
    margin: 0;
}

.film-container__cast {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.film-container__cast p {
    margin: 0;
}

.film-container__actions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.film-container__actions input[type="button"] {
    width: 200px;
}

.gold-color {
    color: #D4AF37;
    font-size: 1.375rem;
    margin-right: 0.4rem;
}