.film.title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    margin: 20px;
    margin-bottom: 5px;
    float: left;
  }
  
  .film.extra-details-container {
    margin: 10px 0px 10px 20px;
  } 
  .film.extra-details {
    margin: 0px;
    float: left;
    text-align: left;
    font-size: 13px;
    color: #6b6b6b;
  }
  
  .film.divider {
    float: left;
    margin: 0 .5em;
    color: #6b6b6b;
    font-size: 11px;
  }
  
  .film.container {
    float: left;
  }
  
  .film.container img {
    width: 150px;
    border-radius: 2px;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
  
  .film.container .synopsys {
    float: left;
    width: 85%;
    margin-left: 15px;
  }

  .film.rating, .film.fav {
    width: initial;
    margin-left: 15px;
    margin-top: -10px;
  }

  .film.rating svg {
    font-size: 2.2em;
    color:#d2d2d2;
    cursor: pointer;
  }

  .film.rating svg:hover {
    color: #ce2262;
  }

  .film.fav svg {
    font-size: 2.2em;
    color: #ce2262;
    cursor: pointer;
  }