.film.title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    margin: 15px 0 5px 0;
    float: left;
    font-weight: 600;
    width: 100%;
}
  
  .film.extra-details-container {
    background: #f6f9ff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } 

  .film.extra-details-left-container ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .film.extra-details-left-container ul li{
    padding-bottom: 10px;
  }

  .film.extra-details-left-container svg {
    float: left;
    margin-top: 1px;
    color: #008CBA;
  }

  .film.extra-details-left-container .genre {
    color: #a2d5b6 !important;
  }

  .film.extra-details {
    margin: 0px;
    margin-left: 15px;
    float: left;
    text-align: left;
    font-size: 13px;
    color: #545e6f;
  }
  
  .film.divider {
    float: left;
    margin: 0 .5em;
    color: #6b6b6b;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
  }
  
  .film.container {
    width: 1315px;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(53,60,72,0.1);
    box-shadow: 0 4px 10px rgba(53,60,72,0.1);
    display: flex;
    flex-direction: column;
  }

  .film-inner-container {
    display: flex;
  }
  
  .film.container img {
    width: 11.5em;
    height: 16.25em;
    padding: 1.25em;
    border-radius: 25px;
    float: left;
  }
  
  .film.container .synopsys {
    text-align: justify;
    width: 95%;
    margin-left: 15px;
    font-size: 0.875em;
    color: #545e6f;
    -webkit-font-smoothing: antialiased;
  }

  .film.titleContainer {
  }

  .film.titleReleaseContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 0 0 1.25em;
    text-align: left;
    color: #545e6f;
    -webkit-font-smoothing: antialiased;
  }

  .film.titleReleaseContainer span {
    float:left;
    font-size: 14px;
  }

  .film.titleReleaseContainer span svg {
    color: #a2d5b6;
    font-size: 18px;
    float: left;
    margin: 1px 5px 0 0;
  }

  .film.rating, .film.fav {
    margin-top: 1.25em;
  }

  .film.rating svg {
    font-size: 1.5em;
    color:#98c7d7;
    cursor: pointer;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
  }

  .film.rating svg:hover {
    color: #ce2262;
    transform: scale(1.1);
  }

  .film.fav svg {
    font-size: 1.5em;
    color: #ce2262;
    cursor: pointer;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
  }

  .film.fav svg:hover {
    color:#98c7d7;
    transform: scale(0.9);
  }

  .film__link-button {
    display: flex;
    align-items: center;
    padding: 15px;
  }