.watchlist-counter {
    float: right;
    width: 23px;
    height: 20px;
    margin-left: 5px;
    margin-top: -10px;
    background-color: #cc1235;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    opacity:0;
}

.watchlist-counter.show {
    animation: easeOutBounce 1s 0s forwards;
}

@keyframes easeOutBounce {
    0% {opacity: 0; -webkit-animation-timing-function: ease-in;}
    33% {opacity: 0.2; -webkit-animation-timing-function: ease-out;}
    50% {opacity: 0.4; -webkit-animation-timing-function: ease-in;}
    66% {opacity: 0.6; -webkit-animation-timing-function: ease-out;}
    82% {opacity: 0.7; -webkit-animation-timing-function: ease-in;}
    92% {opacity: 0.8; -webkit-animation-timing-function: ease-out;}
    97% {opacity: 0.9; -webkit-animation-timing-function: ease-in;}
    100% { opacity: 1;}
}
