.film-suggested {
    cursor: pointer;
}

.film-suggested__selected {
    cursor: pointer;
    box-shadow: 0 0 0 2px #008CBA;
}

.film-suggested:hover img {
    box-shadow: 0 0 0 2px #008CBA;
    box-sizing: border-box;
}

.film-suggested__img {
    height: 8.75em;
    width: 5.9375em;
}