.btn-filter {
    outline: none;
    border-radius: 50px;
    width: 250px;
    border: none;
    background: #f6f9ff;
    font-size: 14px;
    color: #545e6f;
    position: absolute;
    right: 83px;
    cursor: pointer;
    font-weight: 600;
}

.btn-filter span {
    margin-top: 8px;
    float: left;
    font-size: 16px;
}

.btn-filter svg {
    float: left;
    padding: 10px;
    color: #008CBA;
}

.select-filter {
    width: 250px;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 14px 0;
    position: absolute;
    right: 83px;
    top: 170px;
    opacity: 0;
}

.select-filter.show{
    opacity: 1;
}

.select-filter li {
    float: none;
    text-align: left;
}

.select-filter li a {
    display: block;
    padding: 12px 16px 10px 40px;
    font-size: 14px;
    color: #545e6f;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.select-filter li a.selected {
    background: #f6f9ff;
    font-weight: 600;
}

.select-filter li a:hover {
    background: #f6f9ff;
}