.playlist {
  margin-top: 3.7em;
  display: flex;
  flex-direction: column;
}
.playlist li {
    padding-bottom: 4em;
  }

.filter-box {
  width: 20%;
  float: right;
  font-size: 0.8rem;
}

.playlist-container {
  padding-top: 9.8em;
}