.default-btn {
    background-color: #008CBA;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }
  
  .success-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  } 
  
  .default-btn:hover {
    background-color: #ffffff;
    border-color: #008CBA;
    color: #008CBA;
    border-style: solid;
    border-width: 1px;
  }
  .success-btn:hover {
    background-color: #ffffff;
    border-color: #4CAF50;
    color: #4CAF50;
    border-style: solid;
    border-width: 1px;
  }