.default-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    float: right;
    margin: 15px;
    width: 100px;
    -webkit-box-shadow: 0 3px 6px rgba(0,29,54,0.12);
    box-shadow: 0 3px 6px rgba(0,29,54,0.12);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    text-transform: uppercase;
  }
  
  .success-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  } 
  
  .default-btn:hover {
    transform:translateY(-2px);
  }
  .success-btn:hover {
    background-color: #ffffff;
    border-color: #4CAF50;
    color: #4CAF50;
    border-style: solid;
    border-width: 1px;
  }