body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

div {
  float: left;
  width: 100%;
}

ul {
  list-style: none;
  float: left;
  margin-bottom: 0;
}

ul li {
  float: left;
}

h1, h2 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #008CBA;
}

.active {
  color: #008CBA !important;
}

.default-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  margin-bottom: 5px;
  float: left;
  margin-top: 0px;
  margin-left: 40px;
}

.default-title span {
  margin-left: 10px;
  font-size: 0.8em;
  color: #454545;
}

.default-conatiner{
  padding: 15px 15px 15px 30px;
  margin-top: 130px;
  float: none;
  width: initial;
}

.default-img {
  border-radius: 2px;
  float: left;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.left {
  float: left;
}

.not-found-message {
  margin-top: 75px;
  font-size: 40px;
  font-weight: 100;
}