body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  float: left;
  width: 100%;
}

ul {
  list-style: none;
  float: left;
  margin-bottom: 0;
}

ul li {
  float: left;
}

a {
  text-decoration: none;
  color: #008CBA;
}

.active {
  color: #008CBA !important;
}