.watchlist .film.container {
    margin-bottom: 50px;
}

.film-release-container span svg {
    color: #a2d5b6;
}

.watchlist .film.extra-details-left-container svg {
    color: #98c7d7;
}

.watchlist .film.extra-details-left-container .genre {
    color: #98c7d7 !important;
}

.film-release-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1.25em;
    text-align: left;
    color: #545e6f;
    -webkit-font-smoothing: antialiased;
}

.watchlist-film__title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    margin: 15px 0 5px 0;
    font-weight: 600;
}

.watchlist-film__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}