.watchlist.films li {
    width: 100%;
    margin-bottom: 20px;
}

.watchlist.film .title{
    float: left;
    margin: 0;
    padding-left: 10px;
    color: #008CBA;
}

.watchlist.film img{
    width: 96px !important;
}

.watchlist.film .synopsys {
    font-size: 13px;
    text-align: justify;
    float: left;
    width: 85%;
    padding-left: 10px;
    margin: 10px 0px 0 0;
}

.watchlist.film svg {
    float: left;
    color: green;
    font-size: 25px;
    padding-left: 5px;
    cursor: pointer;
}

.watchlist .film-extra-details {
    width: 85%;
    padding-left: 10px;
}