.navlist {
    padding-left: 10px;
    margin: 0;
    float: none;
}

.navlist li {
    padding-right: 25px;
}

.navlist li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navlist li a:hover {
    color: #008CBA;
    text-decoration: underline;
}

.navlist li:last-child {
    float: right;
}