.navlist {
    padding-left: 10px;
    margin: 0;
}

.navlist li {
    padding-right: 25px;
}

.navlist li a {
    color: #fff;
    text-decoration: none;
}

.navlist li a:hover {
    color: #008CBA;
    text-decoration: underline;
}